body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

}

*{    
    padding: 0;
    margin: 0;
    list-style: none;
    
}


html{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}


/* .focus{
    background-color: red;
} */

/* NAV CSS START */
header{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-options{
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    padding-left: 20px;
    padding-top: 10px;
    height: 50vh;
    justify-content: space-evenly;

}

.nav-options>li{
    display: flex;
    align-items: center;
    justify-content: center;

}


.nav-options a {
    text-decoration: none; 
    height: 50px;
    display: flex;
    align-items: center;
  }

.nav-options p{
    padding: 15px;
}


.nav-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px; 
    margin: 20px;
    width: 100%;
    color: #C69E4C;
    transform: scale(1.00);
    transition: color ease-in-out 200ms, transform ease-in-out 200ms;
}

.nav-option:hover{
    transform: scale(1.05);
    color: #d4bb89;
    transition: color ease-in-out 200ms, transform ease-in-out 200ms;
}



.nav-icon{
    width: 15%;
    margin-right: 20px;
}


.nav-icon>img{
    width: 100%;
}


.nav-text{
    width: 50%;
    font-size: 1.6rem;
    font-weight: bold;
}


.nav-option.active .nav-text p {
    color: white;
}

.nav-options li.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #C69E4C;
    margin: 0 0 0 20px;
    width: 100%;
}

.nav-options li.active div{
    margin: 0;
}

.nav-options li.active :hover{
    background-color: #C69E4C;
    transform: scale(1.00);
}


.log-out{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF5757;
    margin: 0 0 40px 0;
    font-size: 2em;
    font-weight: bold;
    width: 20%;
    height: 100px;
}


.log-out a{
    text-decoration: none;
    color: #FF5757;
    transform: scale(1.0);
    transition: color ease-in-out 200ms, transform ease-in-out 200ms;
}

.log-out a:hover{
    color: #ff8c8c;
    transform: scale(1.1);
    transition: color ease-in-out 200ms, transform ease-in-out 200ms;
}

/* Main CSS start */

.vertical-line {
    border-left: 2px solid black;
    height: 90vh; 
    margin: 10px 40px 10px 20px;
    align-self: center;
}

main{
    font-size: 3em;
    display: flex;
    padding: 20px;
}

.createArticles-page{
    padding: 30px;
    margin-bottom: 1000px;
    width: 60vw;
}

#create-article-form{
    width: 110%;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.boxes{
    font-size: 0.4em;
    width: 90%;
    height: 150vh;
}

.create-box{
    padding: 20px;
    margin-top: 30px;
    background-color: #EFEFEF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid #EFEFEF;
    width: 100%;
    height: 95%;

}

.article-img{
    width: 250px;
    height: 250px;
}

.create-article-content, .create-title, .create-article-image{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 1.75em;
    font-weight: bold;
    height: 10%;
    display: flex;
    width: 100%;
}



.create-article{
    width: 100%;
}


.article-title{
    width: 100%;
    flex-direction: column
}

.article-title input[type="text"]{
    width: 80%;
    height: 50px;
    padding: 10px;
    font-size: 1.2rem;
}

.create-article-content{
    height: 60%;
}

.article-content{
    display: flex;
    width: 100%;
    flex-direction: column;
}


.create-content{
    width: 100%;
}

.article-content textarea {
    width: 80%;
    height: 500px;
    padding: 20px;
    font-size: 0.8rem;
    resize: none;
    display: block;
}


.article-img{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.article-img input[type="file"]{
    height: 150%;
    margin: 20px 0 0 0;
}

.create-button-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-button{
    width: 170px;
    height: 70px;
    background-color: #00BF63;
    padding:20px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    color: white;
    justify-content: center;
    transform: scale(1.0);
    transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
}

.create-button:hover{
    background-color: #46d791;
    transform: scale(1.05);
    transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
}

